<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoreo de Estado de Servicios</title>

    <link rel = "stylesheet" href="/public/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body class="body">
  
      <!-- Barra de Navegacion -->
        {{#if esAdmin}}
            {{> navbarAdmin}}
        {{else}}
            {{> navbarUsuario}}
        {{/if}}
    <!-- Barra de Navegacion -->

    <!-- Muestreo de Sugerencias de Incidentes -->

      <div class="container mt-4 table-container">
          <div class="table-responsive">
              <table class="table table-striped table-hover custom-table">
                  <tr>
                      <th>Servicio Afectado</th>
                      <th>Establecimiento</th>
                      <th>Entidad</th>
                      <th>Descripcion</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                  </tr>
                  <tbody>
                  {{#each incidentes}}
                      <tr>
                          <td>{{this.servicioAfectado.servicio.nombre}}</td>
                          <td>{{this.servicioAfectado.establecimiento.nombre}}</td>
                          <td>{{this.servicioAfectado.establecimiento.entidad.nombre}}</td>
                          <td>{{this.descripcion}}</td>
                          <td>{{this.estado}}</td>
                          <td>
                              <a method="post" href="/incidentes/{{this.id}}/cerrar" class="btn btn-secondary">
                                  <i class="fas fa-times"></i> Cerrar
                              </a>
                          </td>
                      </tr>
                  {{/each}}
                  </tbody>
              </table>
          </div>
      </div>
      
    <!-- Muestreo de Sugerencias de Incidetes -->

</body>

</html>
